<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('TBFood', 'none')"/>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0" name="viewport">
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>
    <div class="st-default main-wrapper" id="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="page-title">Giới thiệu</h2>
                    <div class="main-page">
                        <article class="post-129 page type-page status-publish hentry" id="post-129">
                            <div class="entry-content">
                                <div class="vc_row wpb_row">
                                    <div class="wpb_column column_container col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper"><h2 class="vc_custom_heading"
                                                                         style="font-size: 32px;color: #70be44;text-align: center;font-family:Roboto Condensed;font-weight:700;font-style:normal">
                                                TB FOOD CORPORATION</h2>
                                                <h2 class="vc_custom_heading"
                                                    style="color: #000000;text-align: center;font-family:Roboto Condensed;font-weight:400;font-style:normal">
                                                    Thực phẩm nhập khẩu cao cấp</h2>
                                                <h2 class="vc_custom_heading vc_custom_1622012006688"
                                                    style="font-size: 28px;color: #70be44;text-align: center;font-family:Roboto Condensed;font-weight:400;font-style:normal">
                                                    CÔNG NGHỆ BẢO QUẢN CẤP ĐÔNG SÂU GIỮ TRỌN DƯỠNG CHẤT</h2></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_custom_1622012392394">
                                    <div class="wpb_column column_container col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622017101249">
                                                    <div class="wpb_wrapper">
                                                        <p><span style="font-size: 16pt;"><strong><span
                                                                style="font-family: helvetica, arial, sans-serif;">GIỚI THIỆU</span></strong></span>
                                                        </p>

                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622017284878">
                                                    <div class="wpb_wrapper">
                                                        <h3 style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">Được thành lập năm 2020 tại khu tổ hợp chế xuất huyện Quỳnh Phụ, tỉnh Thái Bình với hệ thống phân xưởng chế xuất đạt công suất 60 tấn/tháng, hiện nay TB FOOD đang nỗ lực mở rộng quy mô để đáp ứng được tốc độ mở GIỚI THIỆU rộng thị trường &amp; đạt mục tiêu tạo công ăn việc làm cho 100 lao động địa phương.</span><br>
                                                            <span style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">TB FOOD kí hợp động phân phối và bao tiêu trực tiếp với các đơn vị nhập khẩu lớn nhất cả nước, giúp nguồn hàng luôn ổn định &amp; chất lượng hàng hóa luôn đảm bảo, tránh các nguồn hàng giả, chất lượng kém. Quy trình đóng gói &amp; phân phối được đầu tư quy chuẩn giúp bảo quản sản phẩm luôn ở nhiệt độ tiêu chuẩn, cùng hệ thống cấp đông sâu &amp; máy hút chân không áp lực lớn giúp bảo quản sản phẩm ở điều kiện tốt nhất.</span>
                                                        </h3>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column column_container col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1622017319951">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                                alt="TB Food - Folder_001" class="vc_single_image-img "
                                                                height="1568"
                                                                src="https://tbfood.vn/wp-content/uploads/2021/05/TB-Food-Folder_001-scaled-2560x1568.jpg"
                                                                title="TB Food - Folder_001" width="2560"></div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_custom_1622012392394">
                                    <div class="wpb_column column_container col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1622018053990">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                                alt="" class="vc_single_image-img attachment-full"
                                                                height="1763" sizes="(max-width: 2560px) 100vw, 2560px"
                                                                src="https://tbfood.vn/wp-content/uploads/2021/05/TB-Food-Folder_002-scaled.jpg"
                                                                srcset="https://tbfood.vn/wp-content/uploads/2021/05/TB-Food-Folder_002-scaled.jpg 2560w, https://tbfood.vn/wp-content/uploads/2021/05/TB-Food-Folder_002-scaled-300x207.jpg 300w, https://tbfood.vn/wp-content/uploads/2021/05/TB-Food-Folder_002-scaled-1024x705.jpg 1024w, https://tbfood.vn/wp-content/uploads/2021/05/TB-Food-Folder_002-768x529.jpg 768w, https://tbfood.vn/wp-content/uploads/2021/05/TB-Food-Folder_002-1536x1058.jpg 1536w, https://tbfood.vn/wp-content/uploads/2021/05/TB-Food-Folder_002-2048x1411.jpg 2048w, https://tbfood.vn/wp-content/uploads/2021/05/TB-Food-Folder_002-600x413.jpg 600w"
                                                                width="2560"></div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column column_container col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622017462202">
                                                    <div class="wpb_wrapper">
                                                        <p><span style="font-size: 14pt;"><strong><span
                                                                style="font-family: helvetica, arial, sans-serif;">SỨ MỆNH</span></strong></span>
                                                        </p>

                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622012265001">
                                                    <div class="wpb_wrapper">
                                                        <p style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">Luôn kiên định với sứ mệnh mang lại những sản phẩm thực sự sạch, an toàn và có giá trị dinh dưỡng tốt nhất được sản xuất bằng cách ứng dụng công nghệ cao nhằm mang lại sức khỏe và niềm tin cho người tiêu dùng Việt Nam. </span>
                                                        </p>

                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622012307325">
                                                    <div class="wpb_wrapper">
                                                        <p><span style="font-size: 14pt;"><strong><span
                                                                style="font-family: helvetica, arial, sans-serif;">TẦM NHÌN<br>
</span></strong></span></p>

                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622012316839">
                                                    <div class="wpb_wrapper">
                                                        <p style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">“Tạo ra giá trị gia tăng cao hơn cho các sản phẩm nông nghiệp, chăn nuôi truyền thống thông qua việc xây dựng thương hiệu cho các sản phẩm nông nghiệp và hệ thống phân phối toàn miền Bắc, qua đó cũng tạo ra công ăn việc làm, nguồn thu nhập cao hơn cho 100 người lao động vùng nông thôn.” </span>
                                                        </p>

                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622012434992">
                                                    <div class="wpb_wrapper">
                                                        <p><span style="font-size: 14pt;"><strong><span
                                                                style="font-family: helvetica, arial, sans-serif;">GIÁ TRỊ CỐT LÕI</span></strong></span>
                                                        </p>

                                                    </div>
                                                </div>

                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622012347447">
                                                    <div class="wpb_wrapper">
                                                        <p style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">Trách nhiệm, Tôn trọng, Trung thực, Cởi mở, Sáng tạo </span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_custom_1622017446899">
                                    <div class="wpb_column column_container col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper"><h2 class="vc_custom_heading"
                                                                         style="font-size: 32px;color: #70be44;text-align: center;font-family:Roboto Condensed;font-weight:700;font-style:normal">
                                                “Chúng tôi trân quý sức khỏe của khách hàng như người thân của
                                                mình”.</h2></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_custom_1622012392394">
                                    <div class="wpb_column column_container col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622017753657">
                                                    <div class="wpb_wrapper">
                                                        <h4 style="text-align: justify;"><strong><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">KÍ HỢP ĐỒNG PHÂN PHỐI VỚI NHỮNG NHÀ NHẬP KHẨU LỚN NHẤT – QUY MÔ NHẬP KHẨU LỚN NHẤT VIỆT NAM</span></strong>
                                                        </h4>
                                                        <p style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">– Hải sản: Kí hợp đồng phân phối trực tiếp với các đơn vị nhập khẩu trực tiếp với quy mô lớn nhất cả nước: Công ty cổ phần chế biến thủy sản xuất khẩu Hạ Long </span>
                                                        </p>
                                                        <p style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">– Thịt nhập khẩu: Trực tiếp nhập khẩu từ những nhà nhập khẩu hàng đầu như JBS, Cargill, Allana, AMG… Từ đó đảm bảo nguồn cung ổn định, chất lượng hàng hóa tốt nhất &amp; giá cạnh tranh nhất tới người tiêu dùng</span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column column_container col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1622018065603">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                                alt="bia" class="vc_single_image-img " height="230"
                                                                src="https://tbfood.vn/wp-content/uploads/2021/05/bia-500x230.png"
                                                                title="bia" width="500"></div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_custom_1622012392394">
                                    <div class="wpb_column column_container col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1622018098188">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                                alt="ef0452fe8ec5440f97169cd2ec24cb80-0001"
                                                                class="vc_single_image-img " height="230"
                                                                src="https://tbfood.vn/wp-content/uploads/2021/05/ef0452fe8ec5440f97169cd2ec24cb80-0001-scaled-500x230.jpg"
                                                                title="ef0452fe8ec5440f97169cd2ec24cb80-0001"
                                                                width="500"></div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column column_container col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622017922850">
                                                    <div class="wpb_wrapper">
                                                        <h4 style="text-align: justify;"><strong><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">CHUẨN HÓA QUY TRÌNH ĐÓNG GÓI, BẢO QUẢN, PHÂN PHỐI<br>
</span></strong></h4>
                                                        <p style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">– Quy trình đóng gói được kiểm soát nghiêm ngặt ở nhiệt độ thấp (&lt;15 độ C), theo tiêu chuẩn vệ sinh an toàn thực phẩm, giúp sản phẩm giữ trọn dưỡng chất </span>
                                                        </p>
                                                        <p style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">– Kháng khuẩn dụng cụ &amp; máy móc trước mỗi công đoạn, nói không với thịt nhiễm khuẩn </span>
                                                        </p>
                                                        <p style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">– Mỗi công đoạn phân phối, sản phẩm đều đảm bảo nhiệt độ &lt;4 độ C, giúp giữ cho sản phẩm luôn đảm bảo chất lượng</span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_custom_1622012392394">
                                    <div class="wpb_column column_container col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element  vc_custom_1622017993416">
                                                    <div class="wpb_wrapper">
                                                        <h4 style="text-align: justify;"><strong><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">BẢO QUẢN ƯU VIỆT NHỜ PHƯƠNG PHÁP ĐÓNG GÓI CHÂN KHÔNG &amp; CẤP ĐÔNG SÂU</span></strong>
                                                        </h4>
                                                        <p style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">– – Thịt &amp; hải sản được bảo quản ở nhiệt độ đông sâu ( &lt; -30 độ C), khác biệt so với các cơ sở nhỏ lẻ chỉ bảo quản ở -10 độ C, làm chất lượng sản phẩm giảm &amp; nhanh bị hỏng, không giữ được dinh dưỡng của thịt &amp; hải sản  </span>
                                                        </p>
                                                        <p style="text-align: justify;"><span
                                                                style="font-family: helvetica, arial, sans-serif; font-size: 12pt;">–  Sản phẩm được hút chân không với máy hút áp lực lớn, đảm bảo Oxy bị hút hoàn toàn khỏi sản phẩm, giúp sản phẩm bảo quản lâu hơn &amp; không bị hỏng, xuống màu trong quá trình bảo quản<br>
</span></p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column column_container col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_single_image wpb_content_element vc_align_center  vc_custom_1622018065603">

                                                    <figure class="wpb_wrapper vc_figure">
                                                        <div class="vc_single_image-wrapper   vc_box_border_grey"><img
                                                                alt="bia" class="vc_single_image-img " height="230"
                                                                src="https://tbfood.vn/wp-content/uploads/2021/05/bia-500x230.png"
                                                                title="bia" width="500"></div>
                                                    </figure>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .entry-content -->
                        </article><!-- #post-## -->

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="text-center m-3" th:fragment="footer">
    <p>THÔNG TIN LIÊN HỆ:</p>
    <p>CÔNG TY TNHH TM – DV TB FOOD</p>
    <p> – Địa chỉ: Số 8 liền kề 2, khu đô thị Vạn Phúc, Hà Đông, Hà Nội</p>
    <p> – Hotline: 0964 883 092</p>
    <p> – Email: tbfood.ltd@gmail.com</p>
    <!--		<p>TBFood - Copyright &copy; Kienbv Shop</p>-->
    <p>[[${COPYRIGHT}]]</p>
</div>
</div>
</body>
</html>