<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('TBFood', 'none')"/>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0" name="viewport">
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h2 class="page-title">HỆ THỐNG CỬA HÀNG</h2>
                <div class="main-page">
                    <article class="post-210 page type-page status-publish hentry" id="post-210">
                        <div class="entry-content">
                            <div class="vc_row wpb_row"></div>
                            <div class="wpb_column column_container col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper"></div>
                                </div>
                            </div>
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">

                                </div>
                            </div>
                            <h2><span style="font-size: 14pt; font-family: helvetica, arial, sans-serif;"><strong>TẠI HÀ NỘI</strong></span>
                            </h2>
                            <p>Văn phòng : Liền kề 2, khu đô thị Vạn Phúc, quận Hà Đông, Hà Nội</p>
                            <p>Hệ Thống Cửa Hàng: với gần 100 điểm bán và đại lý trải đều khắp nội thành Hà Nội, quý
                                khách hàng có thể dễ dàng mua thực phẩm của Tb Food ở hầu hết các siêu thị Mini, cửa
                                hàng tiện lợi, đại lý bán lẻ, ví dụ như:</p>
                            <ul>
                                <li>Mini Mart Kim Oanh: 49 Trung Liệt, Đống Đa, Hà Nội</li>
                                <li>Mini Mart Hoàn Thương: 78 Nguyễn Hoàng, Mỹ Đình 2, Từ Liêm, Hà Nội</li>
                                <li>Mini Mart: 38&nbsp;Trần&nbsp;Quý&nbsp;Cáp, Văn Miếu, Đống Đa, Hà Nội</li>
                                <li>H7 Mart: HH4B Linh Đàm, Linh Đường, Hoàng Liệt, Hoàng Mai, Hà Nội</li>
                                <li>Cp Shop Hải Đăng: 238 Xóm&nbsp;Cầu,&nbsp;Triều&nbsp;Khúc,&nbsp;Tân Triều, Thanh Trì,
                                    Hà Nội
                                </li>
                                <li>Home Mart: số 24 Lô&nbsp;A10&nbsp;KĐT&nbsp;Geleximco&nbsp;Lê&nbsp;Trọng&nbsp;Tấn, Xã
                                    An Khánh, Huyện Hoài Đức, Hà Nội
                                </li>
                                <li>CP Shop Văn Minh: Số&nbsp;32/C1, phố&nbsp;Doãn&nbsp;Kế&nbsp;Thiện&nbsp;– Phường&nbsp;Mai
                                    Dịch&nbsp;– Quận Cầu Giấy – Hà Nội
                                </li>
                                <li>CH Meat Deli Đức Huy: Số 7 ngõ 127 Lạc Long Quân, Tây Hồ, Hà Nội</li>
                                <li>CH CP Vinhomes Smart City: S1.02 Vinhomes Smart City, Tây Mỗ, Nam Từ Liêm, Hà Nội
                                </li>
                                <li>CP Shop Năm Châu: số 7 Định Công&nbsp;Thượng,&nbsp;Hoàng Mai, Hà Nội</li>
                                <li>Any Mart: 31B Ngõ&nbsp;255&nbsp;Cầu Giấy, Phường Dịch Vọng, Quận&nbsp;Cầu Giấy, Hà
                                    Nội
                                </li>
                            </ul>
                            <p><span style="font-family: helvetica, arial, sans-serif; font-size: 14pt;"><strong>TẠI THÁI BÌNH</strong></span>
                            </p>
                            <p>Trụ sở chính: Thôn Dục Linh 2, Xã An Ninh, Huyện Quỳnh Phụ, Tỉnh Thái Bình</p>
                            <p>&nbsp;</p>
                        </div><!-- .entry-content -->
                    </article><!-- #post-## -->

                </div>
            </div>
        </div>
    </div>
    <div class="text-center m-3" th:fragment="footer">
        <p>THÔNG TIN LIÊN HỆ:</p>
        <p>CÔNG TY TNHH TM – DV TB FOOD</p>
        <p> – Địa chỉ: Số 8 liền kề 2, khu đô thị Vạn Phúc, Hà Đông, Hà Nội</p>
        <p> – Hotline: 0964 883 092</p>
        <p> – Email: tbfood.ltd@gmail.com</p>
        <!--		<p>TBFood - Copyright &copy; Kienbv Shop</p>-->
        <p>[[${COPYRIGHT}]]</p>
    </div>
</div>
</body>
</html>